@font-face {
  font-family: 'iconfont';  /* project id 1396805 */
  src: url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.eot');
  src: url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.woff') format('woff'),
  url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1396805_5w7pooj23ia.svg#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinlebofangxianxing:before {
  content: "\e617";
}

.icon-yinlezanting:before {
  content: "\e619";
}

